---
layout: default
title: Playlists
---
<div class="post", style="text-align:center;width:100%;">
<iframe src="https://open.spotify.com/embed/playlist/4xo66ZwgA5vBoEcVy9zCCi" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/1KWVhD3H0s83RlS6yvk6im" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/6MLMMSFqV2MhRSwytBdsq9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>