---
layout: default
title: Writing
---

<div class='tag-cloud'>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="/tags/{{ tagname }}">{{ tagname }}</a><br>
{% endfor %}
</div>

<div class="home">
    <div class="posts">
      {% for post in site.posts %}
        <div class="post py3">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h1 class="h1 post-title">{{ post.title }}</h1></a>
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <!-- <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span> -->
        </div>
      {% endfor %}
    </div>
</div>
