{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

{% for path in page_paths %}
    
    {% assign nav_page = site.pages | where: "path", path | first %}
    
    {% if page.title == nav_page.title %}
        {% if nav_page.title %}
            <a href="{{ nav_page.url | relative_url }}" class="nav-active">{{ nav_page.title }}</a>
        {% endif %}
    {% else %}
        {% if nav_page.title %}
            <a href="{{ nav_page.url | relative_url }}">{{ nav_page.title }}</a>
        {% endif %}
    {% endif %}
    
{% endfor %}