.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
  font-weight: 500;
  font-family: $site-title-font-family;
  letter-spacing: -0.01rem;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #222;
  font-weight: 300;
  font-size: 0.9rem;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #222;
  opacity: 1;
  border-bottom: 1px solid #222;
}

.nav-active {
  color: #222;
  opacity: 1;
  border-bottom: 1px solid #222;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
