.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-title {
  font-family: $heading-font-family;
  margin-top: 0;
  color: #333;
  letter-spacing: -0.015rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -0.2rem;
}

.post-footer {
  @extend .italic;
  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  font-family: 'IBM Plex Mono';
  width: auto;
  margin: 0;
  padding: .25em 0;
  color: #999;
  font-size: 0.75rem;
  position: relative;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.tag-cloud {
  font-weight: 300;
  font-family: $monospace-font-family;
  font-size: 0.9rem;
  padding-bottom: 0.75rem;
}
