<!DOCTYPE html>
<html>
{% include head.html %}
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>
