---
layout: default
---

<div class="post-header mb2">
  <h2 class="h2-cta">Sam Wilkinson is a data scientist, software engineer, and recovering physicist.
  </h1>
</div>

<article class="post-content">
  {{ content }}
</article>



