---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1 class="h1 post-title">{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: site.date_format }}</p>
  <!-- <h1 class="h1 post-title">{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read }}
  {% endif %}
  </span> -->
</div>

<article class="post-content">
  {{ content }}
  <br>
  <br>
</article>



